{% extends 'main/layout.html' %}

{% block content %}


<div class="container">
  <br>

          <div class="row">
            {% for  tr in tutorials %}
            <div class="col s12 col-md-8 l4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">{{tr.tutorialTitle}}</span>
                  <p style="font-size:70%">{{tr.tutorialPublished}}</p>
                  <p>{{tr.tutorialContent|safe}}</p>
                
                </div>
                <div class="card-action">
                  <a href="#">visit</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">title </th>
                <th scope="col">content</th>
                <th scope="col">date published </th>
              </tr>
            </thead>
            <tbody>
                {% for  tr in tutorials %}
              <tr>
                <th scope="row">id</th>
                <td>{{tr.tutorialTitle}}</td>
                <td>{{tr.tutorialContent|safe}}</td>
                <td>{{tr.tutorialPublished}}</td>
              </tr>
             
              {% endfor %}
            </tbody>
          </table>
    
{% endblock content %}

